<mat-toolbar>
  <button id="reg" mat-button (click)="showForm()">Registrati</button>
  <button id="ut" class="offset-9" mat-button (click)="showLista()">Lista Utenti</button>
</mat-toolbar>

<div class="container justify-content-center">
  <div id="form1" class="mt-5 text-center">
    <form [formGroup]="myform" (ngSubmit)="onSubmit(myform)">

      <h2 class="mt-3">Anagrafica</h2>
      <mat-form-field appearance="outline">
        <mat-label>Nome</mat-label>
        <input name="name" matInput id="nameid" type="text" formControlName="name" required>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Cognome</mat-label>
        <input matInput id="surname" type="text" formControlName="surname">
      </mat-form-field>

      <mat-form-field class="col-6" appearance="outline">
        <mat-label>Email</mat-label>
        <input matInput id="email" type="text" formControlName="email">
      </mat-form-field>

      <br>

      <mat-form-field appearance="outline">
        <mat-label>Via</mat-label>
        <input matInput id="via" type="text" formControlName="street">
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Citta</mat-label>
        <input matInput id="citta" type="text" formControlName="city">
      </mat-form-field>
      <br>
      <button mat-raised-button class="mt-3 mb-5 col-2" color="primary" type="submit"
        [disabled]="!myform.valid">Invia</button>

    </form>

  </div>
</div>




<div class="row">
  <app-details id="app-dettagli"></app-details>
</div>
