<!-- <form [formGroup]="myform" (ngSubmit)="onSubmit(myform)">

  <div>
    <label for="nome">Nome:</label>
    <input type="text" formControlName="nome" required>
  </div>

  <div>
    <label for="cognome">Cognome:</label>
    <input type="text" formControlName="cognome" required>
  </div>

  <div>
    <label for="dataNascita">Data di nascita: </label>
    <input type="text" formControlName="dataNascita" required>
  </div>

  <button type="submit" [disabled]="!myform.valid">Click</button>
</form>

<app-card-utente></app-card-utente> -->

<!-- <h1 class="text-center bg-info text-black">Registrati</h1>

<div class="mt-5 row">
  <div class="col-2">
    <form [formGroup]="myform" (ngSubmit)="onSubmit(myform)">
      <mat-form-field appearance="fill">
        <mat-label>Nome</mat-label>
        <input matInput id="name" type="text" formControlName="name" required placeholder="Nome" />
      </mat-form-field>
      <br />
      <mat-form-field appearance="fill">
        <mat-label>Cognome</mat-label>
        <input matInput id="surname" type="text" formControlName="surname" placeholder="Cognome" />
      </mat-form-field>
      <br />
      <mat-form-field appearance="fill">
        <mat-label>Nazionalità</mat-label>
        <input matInput id="nazionalita" type="text" formControlName="nationality" placeholder="Nazionalità" />
      </mat-form-field>
      <br />

      <mat-form-field appearance="fill">
        <mat-label>Via</mat-label>
        <input matInput id="via" type="text" formControlName="street" placeholder="Indirizzo" />
      </mat-form-field>
      <br />
      <mat-form-field appearance="fill">
        <mat-label>Citta</mat-label>
        <input matInput id="citta" type="text" formControlName="city" placeholder="Città" />
      </mat-form-field>
      <br />
      <button mat-raised-button color="primary" type="submit" [disabled]="!myform.valid">
        Invia
      </button>
    </form>
  </div>

  <app-details class="col-2 mt-5"></app-details>
</div> -->

<mat-toolbar>
  <button id="reg" mat-button (click)="showForm()">Registrati</button>
  <button id="ut" class="offset-9" mat-button (click)="showLista()">Lista Utenti</button>
</mat-toolbar>

<div class="container justify-content-center">
  <div id="form1" class="mt-5 text-center">
    <form [formGroup]="myform" (ngSubmit)="onSubmit(myform)">

      <h2 class="mt-3">Anagrafica</h2>
      <mat-form-field appearance="outline">
        <mat-label>Nome</mat-label>
        <input name="name" matInput id="nameid" type="text" formControlName="name" required>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Cognome</mat-label>
        <input matInput id="surname" type="text" formControlName="surname">
      </mat-form-field>

      <mat-form-field class=" col-6" appearance="outline">
        <mat-label>Email</mat-label>
        <input matInput id="email" type="text" formControlName="email">
      </mat-form-field>

      <br>

      <mat-form-field appearance="outline">
        <mat-label>Via</mat-label>
        <input matInput id="via" type="text" formControlName="street">
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Citta</mat-label>
        <input matInput id="citta" type="text" formControlName="city">
      </mat-form-field>
      <br>
      <button mat-raised-button class="mt-3 mb-5 col-2" color="primary" type="submit"
        [disabled]="!myform.valid">Invia</button>

    </form>

  </div>
</div>




<div class="row">
  <app-details id="app-dettagli"></app-details>
</div>
